<div class="card" [@flipState]="flip" (click)="toggleFlip()">
    <md-card class="front-card">
        <md-card-title class="card-title">
            {{habitant.name}}
        </md-card-title>
        <md-card-subtitle>
                {{habitant.age}} years old
        </md-card-subtitle>
        <div class="image-container">
            <img md-card-image src="{{habitant.thumbnail}}">
        </div>
        <md-card-content>
            <div style="display:flex;">
                <div>
                    <img src="./assets/img/weight.png" alt="" class="weight-img"> {{habitant.weight}} 
                </div>
                <div>
                    <img src="./assets/img/ruler.png" alt="" class="height-img"> {{habitant.height}}
                </div>
            </div>
            <div>
                <img src="./assets/img/hair2.png" alt="" class="hair-color-img"> {{habitant.hair_color}}
            </div>
        </md-card-content>
    </md-card>
    <md-card class="back-card">
        <md-card-title color="primary">
            {{habitant.name}}
        </md-card-title>
        <md-card-content>
            <div class="professions-friends">
                <div>
                    <p class="pf-title">Professions ({{habitant.professions.length}})</p>
                    <md-chip-list class="mat-chip-list-stacked">
                        <md-chip *ngFor="let profession of habitant.professions; let i = index"
                                selected="true"
                                class="chip-element"
                                [ngStyle]="{'background-color': pill_colors[i >= pill_colors.length ? i - pill_colors.length : i]}">
                                {{profession}}
                        </md-chip>
                    </md-chip-list>
                </div>
                <div>
                    <p class="pf-title">Friends ({{habitant.friends.length}})</p>
                    <md-chip-list class="mat-chip-list-stacked">
                        <md-chip *ngFor="let friend of habitant.friends let i = index"
                            selected="true"
                            class="chip-element"
                            [ngStyle]="{'background-color': pill_colors[i >= pill_colors.length ? i - pill_colors.length : i ]}">
                            {{friend}}
                        </md-chip>
                    </md-chip-list>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>