.image-container {
    display: inline-block;
    height: 171px;
    width: 100%;
    overflow: hidden;
}

.card {
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    position: relative;
    height: 300px;
    width: 257px;
}

.front-card{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -20px;
}

.back-card{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(179.9deg);
    user-select: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #D9F0FF;
    left: -20px;
    overflow-y: auto;
}

.mat-card-title {
    font-size: 18px !important;
}

.weight-img {
    height: auto;
    width: 17%;
    position: relative;
    top: 10px;
}

.height-img {
    height: auto;
    width: 10%;
    position: relative;
    top: 6px;
}

.hair-color-img {
    height: auto;
    width: 9%;
    position: relative;
    top: 4px;
}

.front-card:hover, .back-card:hover {
    box-shadow: 0px 1px 1px -2px rgba(0,0,0,.2), inset 3px 1px 2px 0 rgba(255, 255, 255, 0.14), inset 2px 1px 5px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

.professions-friends {
    display: flex;
    justify-content: space-between;
}

.pf-title {
    font-weight: bold;
}

.chip-element {
    color: white;
}

.back-card.back-card::-webkit-scrollbar {
display: none;
}
